/* aside styling */

.aside-info {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
}

.aside-text {
  font-family: monospace;
}

/* footer styling */

.footer-style {
  position: fixed;
  left: 0;
  bottom: 10%;
  width: 100%;
  background-color: rgb(20, 240, 38);
  text-align: center;
}

.fascinating-words {
  font-family: fantasy;
}

.interesting-things {
  list-style-type: square;
}
